notebooks/data
notebooks/cifar_net.pth
.ipynb_checkpoints/
notebooks/.cache/42/cache.db
notebooks/coding/AMZN.csv
notebooks/coding/generate_amzn_csv.py
notebooks/coding/plot_stock_price.py
notebooks/coding/stock_price_ytd.png
